port {{ sentinel_port }}
sentinel monitor mymaster {{ redis_master_ip }} {{ redis_port }} 2
sentinel auth-pass mymaster {{ redis_password }}
sentinel down-after-milliseconds mymaster 5000
sentinel failover-timeout mymaster 60000
sentinel parallel-syncs mymaster 1
sentinel failover-timeout mymaster 180000
sentinel config-epoch mymaster 0